<footer>
  <div class="container">
    <div class="row">
      <!-- Company Logo and Social Links -->
      <div class="col-lg-2">
        <div class="footer_con">
          <img class="img-fluid" src="assets/img/logo.svg" alt="Company Logo">
          <div class="footer_social">
            <ul>
              <li><a href="https://www.instagram.com/reflexfire.in/"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://x.com/ReflexFireSgnr"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://www.youtube.com/@ReflexFire"><i class="fa fa-youtube"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Navigation Links and Description -->
      <div class="col-lg-7">
        <div class="footer_center_con">
          <ul class="footer_link">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about">About Us</a></li>
            <li><a routerLink="/services">Services</a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
          </ul>
          <p>At Reflex Fire, we provide top-notch security services and fire safety solutions. Our commitment is to
            ensure the safety of businesses and individuals with a focus on excellence and reliability.</p>
        </div>
      </div>

      <!-- Copyright Section -->
      <div class="col-lg-3">
        <div class="footer_right">
          <p class="d-flex justify-content-center gap-2">&copy; 2024 <a style="color: #d32f2f;">Built By Sumesh</a> All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>