<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="footer_con">
            <img class="img-fluid" src="assets/img/logo.webp" alt="">
            <div class="footer_social">
              <ul>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="footer_center_con">
            <ul class="footer_link">
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/about">About Us</a></li>
              <li><a routerLink="/contact">Contact Us</a></li>
            </ul>
            <p>Morbi et aliquam tellus...</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="news_letter_box">
            <h3>Subscribe For Newsletter</h3>
            <form>
              <input type="text" placeholder="Your Email...." class="card-input" required>
              <button class="input-img"><img src="assets/img/paper-plane.webp" alt=""></button>
            </form>
            <p>Get latest updates for yoga news</p>
          </div>
        </div>
      </div>
    </div>
  </footer>