<!-- Start Header Banner Section -->
<div id="demo1" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="height:526px;">
      <div class="slider_text1">
        <h1>Contact Us</h1>
      </div>
      <div class="carousel-caption1">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="inner_page_title">
                <h2>Contact Us</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Header Banner Section -->

<!-- Start Contact Info Section -->
<div class="contact">
  <div class="container">
    <div class="row">
      <!-- Contact Info Box -->
      <div class="col-lg-4 col-md-4" *ngFor="let contact of contacts">
        <div class="location_box">
          <div class="location_icon">
            <i [class]="contact.icon" style="font-size: 48px; color:rgba(120, 40, 40, 0.9) 50%"></i>
          </div>
          <div class="location_address">
            <p [innerHTML]="contact.content"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Contact Info Section -->

<!-- Start Contact Form Section -->
<div class="container">
  <div class="row justify-content-center">
<div class="col-lg-8 remove-padding" >
  <div class="card contact-form">
    <div class="card-header">
      <h3>Get In Touch</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="contactForm">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Your Name"
            formControlName="name"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="tel"
            class="form-control"
            placeholder="Phone Number"
            formControlName="phone"
            required
          />
          <span
            *ngIf="isWhatsAppButtonClicked && contactForm.get('phone')?.hasError('required') || contactForm.get('phone')?.hasError('pattern')"
            class="text-danger alert-message"
          >Phone number is required for WhatsApp.</span>
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            placeholder="Your Email"
            formControlName="email"
            required
          />
          <span
            *ngIf="isEmailButtonClicked && contactForm.get('email')?.hasError('required')"
            class="text-danger alert-message"
          >Email is required to Send Mail.</span>
        </div>
        <div class="form-group">
          <textarea
            class="form-control"
            rows="4"
            placeholder="Your Message"
            formControlName="message"
            required
          ></textarea>
        </div>
        <button type="button" class="btn btn-primary ss-color-mail half-width-btn" (click)="sendEmail()">
          <i class="fas fa-envelope-square"></i>
          Email
        </button>
        <button type="button" class="btn btn-primary ss-color-wp half-width-btn" (click)="sendWhatsApp()">
          <i class="fab fa-whatsapp"></i>
          WhatsApp
        </button>
      </form>
    </div>
  </div>
</div>
</div>
</div>
<!-- End Contact Form Section -->

<!-- Start Google Map Section -->
<div class="map">
  <div class="map_box">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14022.154879768205!2d73.87244987263967!3d29.91410489922851!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3916e4828faed58b%3A0x8e03d63c151b8c42!2sPlatinum%20O%20Block%2C%20Sri%20Ganganagar%2C%20Rajasthan%20335001%2C%20India!5e0!3m2!1sen!2sin!4v1697097958586!5m2!1sen!2sin"
      width="100%" height="450" frameborder="0" style="border:0" allowfullscreen>
    </iframe>
  </div>
</div>
<!-- End Google Map Section -->