/* Adjust the nav-item class */
.nav-item {
    margin-right: 10px;
    padding: 0; /* Set padding to 0 to match other nav items */
    display: flex; /* Align the button with other items */
    align-items: center; /* Ensure the button is vertically centered */
    height: 41px;
}

/* Adjust the button styles */
.nav-item button {
    margin-right: 10px;
    border-radius: 10px;
    color: white;
    padding: 10px 20px; /* Add horizontal padding for better size consistency */
    display: inline-flex; /* Ensure it acts like a typical inline element */
    align-items: center; /* Vertically center the content within the button */
}

.button-enquire {
    color: white !important;
    background:linear-gradient(
        to right,
        rgba(30, 30, 30, 0.9) 0%,
        rgba(120, 40, 40, 0.9) 50%,
        rgba(10, 60, 120, 0.9) 100%);
    border: 0;
    padding: 10px 20px; /* Ensure consistent padding */
    font-weight: bold;
    font-size: 16px; /* Adjust font-size if needed */
}

.button-enquire:hover {
    /* background-color: #0080a7 !important; */
}

.button-enquire:focus,
.button-enquire:focus-visible {
    /* background-color: #0080a7 !important; */
    outline: none !important;
}