<header>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="main-nav">
            <input id="main-menu-state" type="checkbox">
            <label class="main-menu-btn" for="main-menu-state">
              <span class="main-menu-btn-icon"></span> Toggle main menu visibility
            </label>
            <h2 class="nav-brand"><a href="/"><img src="assets/img/logo.webp" alt="Reflex Fire" class="img-fluid"></a></h2>
            <ul id="main-menu" class="sm sm-clean">
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/about">About Us</a></li>
              <li><a routerLink="/services">Services</a></li>
              <li><a routerLink="/contact">Contact Us</a></li>
              <li><a routerLink="/trainers">Trainers</a></li>
              <li><a routerLink="/certifications">Certifications</a></li>
              <li class="nav-item">
                <button class="nav-link button-enquire" (click)="onPhoneButtonClick()"><i class="fa-solid fa-phone-volume" style="color: #FFFFFF;"></i>Enquire Now</button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>