<!-- Start Header Banner Section -->
<div id="demo1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image:url(assets/img/about_bg.webp); height:526px;">
        <div class="slider_text1">
          <h1>About Us</h1>
        </div>
        <div class="carousel-caption1">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="inner_page_title">
                  <h2>About Us</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Header Banner Section -->
  
  <!-- Start About Section -->
  <div class="main_about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="about-img"> 
            <img loading="lazy" class="img-fluid" src="assets/img/about_page.webp" alt="about_page">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about_page_con">
            <h2>Yoga, as techniques of controlling the body and the mind</h2>
            <p>Fusce laoreet augue sit amet metus vulputate interdum. Donec non enim eu turpis congue rhoncus. Ut venenatis, orci quis porttitor porttitor, leo massa porta tellus, at sagittis lorem erat sed sapien. Suspendisse leo ipsum, pulvinar sed ullamcorper eu, sodales quis enim.</p>
            <p>Nunc commodo, ligula vel mollis tincidunt, magna quam malesuada orci, eget eleifend ipsum lorem non dui. Maecenas quis erat id justo volutpat faucibus non finibus enim.</p>
            <div class="about_btn"> 
              <a href="#" aria-label="aboutbtn" class="aboutbtn">Contact Us</a> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End About Section -->
  
  <!-- Start Numbers Section -->
  <div class="counter">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div id="counter">
            <div class="achievements_box"> 
              <i class="flaticon-smiling-emoticon-square-face"></i>
              <div class="counter-value" data-count="1456">0+</div>
              <p>Happy Clients</p>
            </div>
            <div class="achievements_box"> 
              <i class="flaticon-notepad"></i>
              <div class="counter-value" data-count="1147">100+</div>
              <p>Happy Clients</p>
            </div>
            <div class="achievements_box">
              <i class="flaticon-coffee-cup"></i>
              <div class="counter-value" data-count="1526">150+</div>
              <p>Coffee Cup</p>
            </div>
            <div class="achievements_box"> 
              <i class="flaticon-small-calendar"></i>
              <div class="counter-value" data-count="2457">200+</div>
              <p>Days Worked</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Numbers Section -->
  
  <!-- Start What We Do Section -->
  <div class="what_we_do">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="title_box">
            <h2>WHAT WE DO</h2>
            <img loading="lazy" class="img-fluid" src="assets/img/title_line.webp" alt="title_line">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="about_con">
            <h3>Yoga enhances your life.</h3>
            <p>Nunc et molestie ante. Nullam ac augue auctor, elementum mauris at, interdu massa. Integer aliquam molestie nisi vel suscipit. Fusce ut tellus ac ipsum consectetur eleifend eu vitae mi.</p>
            <p>Aliquam ut nunc nec dolor vehicula ornare sit amet vel neque. Duis facilisis lacinia odio et tincidunt. Suspendisse sed pharetra lectus. In nec dui at mauris blandit consectetur. Cras elementum odio ac arcu tincidunt, at egestas metus finibus. Mauris vitae feugiat ex.</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="video_img">
            <img loading="lazy" class="img-fluid" src="assets/img/video_bg.webp" alt="video_bg">
            <div class="video_icon">
              <img loading="lazy" class="img-fluid" src="assets/img/video.webp" alt="video">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End What We Do Section -->