<app-banner [heading1]="'Certifications'" [heading2]="'Certifications'"></app-banner>

  <div class="main-container">
    <div class="container mt-5">
      <div class="row bg-add">
        <div
          class="col-md-3 col-sm-6 mb-4 bg-add caeritificate-cards"
          *ngFor="let item of certificates"
        >
          <img
            src="{{ item.image }}"
            alt="Client 1"
            class="img-fluid"
            (click)="openImageModal(item.image)"
          >
        </div>
  
        <!-- Add more client images here -->
      </div>
    </div>
  </div>
  
  <!-- The modal-like container -->
  <div
    class="image-modal-container"
    *ngIf="showImageModal"
    (click)="closeImageModal()"
  >
    <div class="image-modal">
      <img
        *ngIf="selectedImageUrl"
        [src]="selectedImageUrl"
        alt="Full Image"
        class="img-fluid"
        (click)="$event.stopPropagation()"
      >
    </div>
  </div>