<!-- Start Header Banner Section -->
<div id="demo1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image:url(assets/img/trainers_bg.webp); height:524px;">
        <div class="slider_text1">
          <h1>Trainers</h1>
        </div>
        <div class="carousel-caption1">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="inner_page_title">
                  <h2>Trainers</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Header Banner Section -->
  
  <!-- Start Our Trainers Section -->
  <div class="instructors">
    <div class="container">
      <div class="row">
        <!-- Trainer 1 -->
        <div class="col-lg-3 col-md-6">
          <div class="item">
            <div class="item1">
              <div class="team-img"> 
                <img loading="lazy" src="assets/img/about_1.webp" alt="Tommy Clark" class="img-fluid">
                <div class="team-bottom-box">
                  <div class="social_icon">
                    <ul>
                      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                  <div class="bottom-team-border">
                    <h2>Tommy Clark</h2>
                    <p>Yoga Dance</p>
                    <h4>Suspendisse sagittis urna et lorem euismod, non semper neque euismod.</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Trainer 2 -->
        <div class="col-lg-3 col-md-6">
          <div class="item">
            <div class="item1">
              <div class="team-img">
                <img loading="lazy" src="assets/img/instructors2.webp" alt="Ella Claire" class="img-fluid">
                <div class="team-bottom-box">
                  <div class="social_icon">
                    <ul>
                      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                  <div class="bottom-team-border">
                    <h2>Ella Claire</h2>
                    <p>Yoga Dance</p>
                    <h4>Suspendisse sagittis urna et lorem euismod, non semper neque euismod.</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Trainer 3 -->
        <div class="col-lg-3 col-md-6">
          <div class="item">
            <div class="item1">
              <div class="team-img"> 
                <img loading="lazy" src="assets/img/instructors3.webp" alt="Yoga Dance" class="img-fluid">
                <div class="team-bottom-box">
                  <div class="social_icon">
                    <ul>
                      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                  <div class="bottom-team-border">
                    <h2>Yoga Dance</h2>
                    <p>Hatha</p>
                    <h4>Suspendisse sagittis urna et lorem euismod, non semper neque euismod.</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Trainer 4 -->
        <div class="col-lg-3 col-md-6">
          <div class="item">
            <div class="item1">
              <div class="team-img"> 
                <img loading="lazy" src="assets/img/instructors4.webp" alt="Jane White" class="img-fluid">
                <div class="team-bottom-box">
                  <div class="social_icon">
                    <ul>
                      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                  <div class="bottom-team-border">
                    <h2>Jane White</h2>
                    <p>Yoga Dance</p>
                    <h4>Suspendisse sagittis urna et lorem euismod, non semper neque euismod.</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- More Trainers can be added similarly -->
      </div>
    </div>
  </div>
  <!-- End Our Trainers Section -->