<!-- Start Header Banner Section -->
<div id="demo1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <!-- background-image:url(assets/img/trainers_bg.webp); -->
      <div class="carousel-item active" style=" height:524px;">
        <div class="slider_text1">
          <h1>Guards</h1>
        </div>
        <div class="carousel-caption1">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="inner_page_title">
                  <h2>Guards</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Header Banner Section -->
  
  <!-- Start Our Trainers Section -->
<app-guards-section></app-guards-section>
  <!-- End Our Trainers Section -->