<div [ngClass]="{'yoga_bg': applyYogaBgClass}">
  <div class="container">
    <div class="title_box text-center">
      <h2>Our Services</h2>
    </div>
    <div class="row d-flex justify-content-center">
      <!-- Left Column: Services on the left -->
      <div class="col-md-6 d-flex flex-column align-items-end">
        <div *ngFor="let service of leftServices" class="yoga_box">
          <div class="yoga_img">
              <div class="icon_box">
                  <img [src]="service.icon" alt="{{ service.title }} Icon" class="service-icon">
              </div>
          </div>
          <div class="yoga_con">
              <h3 [ngStyle]="{'color': applyYogaBgClass ? 'white':'black'}">{{ service.title }}</h3>
              <p [ngStyle]="{'color': applyYogaBgClass ? 'white':'black'}">{{ service.description }}</p>
          </div>
      </div>
      </div>

      <!-- Right Column: Services on the right -->
      <div class="col-md-6 d-flex flex-column align-items-start">
        <div *ngFor="let service of rightServices" class="yoga_box">
          <div class="yoga_img">
              <div class="icon_box">
                  <img [src]="service.icon" alt="{{ service.title }} Icon" class="service-icon">
              </div>
          </div>
          <div class="yoga_con" >
              <h3 [ngStyle]="{'color': applyYogaBgClass ? 'white':'black'}">{{ service.title }}</h3>
              <p [ngStyle]="{'color': applyYogaBgClass ? 'white':'black'}">{{ service.description }}</p>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>