.carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .slider_img img {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensures the image keeps its aspect ratio 
  } */

.slider_text h1 {
  color: white; /* Text color based on your design */
  font-size: 48px; /* Adjust font size based on your preference */
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Add shadow for better readability */
}

.carousel-caption1s {
  color: white;
}

.sliderbtn {
  background-color: #fff; /* Button styling */
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

@media (max-width: 768px) {
  .slider_text h1 {
    font-size: 36px; /* Adjust for smaller screens */
  }

  .carousel-item {
    height: 500px; /* Reduce height for smaller screens */
  }

  .slider_img img {
    width: 100%; /* Adjust image width for mobile */
    height: auto;
  }
}
